@import url('https://fonts.googleapis.com/css?family=Grechen+Fuemen');
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
	background-color: #14090b;
	font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
	color: white;
}
* {
	scrollbar-gutter: none;
}
::-webkit-scrollbar {
	width: 0.5rem;
	background-color: transparent;
}

::-webkit-scrollbar-thumb {
	background-color: #323d58;
	opacity: 0.75;
	border-radius: 0.5rem;
}
